# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db

# Virtualenv
.venv/
venv/
env/

# Env
.env

# Django
staticfiles/
media/

# IDE
.vscode/
.idea/

# Test
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db
