# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environments
.venv/
venv/
env/

# Environment files
.env

# Django
staticfiles/
media/

# IDE
.vscode/
.idea/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Temp
tmp/
temp/

# Tools
repomix-output.xml
